<div class="row container book-details-container">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <div class="book-details-head">
                    Requested Book Details
                </div>
            </div>
        </div>


        <div class="row book-details">
            <div class="col">
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Name
                    </div>
                    <div class="col-6">
                        {{user.name}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Age
                    </div>
                    <div class="col-6">
                        {{user.age}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Email
                    </div>
                    <div class="col-6">
                        {{user.email}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Phone
                    </div>
                    <div class="col-6">
                        {{user.phone}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        Requested Book Title
                    </div>
                    <div class="col-6">
                        Requested Book Title
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        Requested Book Author
                    </div>
                    <div class="col-6">
                        Requested Book Author
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        Requested Book Image
                    </div>
                    <div class="col-6">
                        Requested Book Image
                    </div>
                </div>
                <div class="row j-center">
                    <div class="col-6 text-center">
                        <div class="approve-cancel-btn-box">
                            <button class="approve-btn">Approve</button>
                            <button class="cancel-btn"> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>