<div class="row container user-list-container">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <div class="user-list-head">
                    Book Requests
                </div>
            </div>
        </div>


        <div class="row user-grid">
            <div class="col">
                <div class="row head">
                    <div class="col">
                        <div class="col-head">Name</div>
                    </div>
                    <div class="col">
                        <div class="col-head">Email</div>
                    </div>
                    <div class="col">
                        <div class="col-head">Book Title</div>
                    </div>
                    <div class="col">
                        <div class="col-head">Book Type</div>
                    </div>
                </div>

                <div class="body">
                    <div class="row body-row" *ngFor="let book of userBookRequests" (click)="userBookDetails(book)">
                        <div class="col">
                            <div class="data">{{loggedUser?.name || '--'}}</div>
                        </div>
                        <div class="col">
                            <div class="data">{{loggedUser?.email || '--'}}</div>
                        </div>
                        <div class="col">
                            <div class="data">{{book?.title || '--'}}</div>
                        </div>
                        <div class="col">
                            <div class="data">{{book?.author || '--'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>