<div class="row container user-list-container">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <div class="user-list-head">
                    Book Requests
                </div>
            </div>
        </div>


        <div class="row user-grid">
            <div class="col">
                <div class="row head">
                    <div class="col-5">
                        <div class="col-head">Name</div>
                    </div>
                    <div class="col-5">
                        <div class="col-head">Email</div>
                    </div>
                    <div class="col-2">
                        <div class="col-head">Manage book access</div>
                    </div>
                </div>

                <div class="body">
                    <div class="row body-row" *ngFor="let user of userBookRequests">
                        <div class="col-5">
                            <div class="data">{{user?.name || '--'}}</div>
                        </div>
                        <div class="col-5">
                            <div class="data">{{user?.userEmail || '--'}}</div>
                        </div>
                        <div class="col-2 text-center">
                            <div class="data view-request" (click)="userBookDetails(user)">View request</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>