<div class="row container user-container">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <div class="user-head">
                    User Details
                </div>
            </div>
        </div>

        <div class="row user-details">
            <div class="col">
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Name
                    </div>
                    <div class="col-6">
                        {{user.name}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Age
                    </div>
                    <div class="col-6">
                        {{user.age}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Email
                    </div>
                    <div class="col-6">
                        {{user.email}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        User Phone
                    </div>
                    <div class="col-6">
                        {{user.phone}}
                    </div>
                </div>
                <div class="row j-center">
                    <div class="offset-3 col-3 col-head">
                        Active User
                    </div>
                    <div class="col-6">
                        <input type="checkbox" [(ngModel)]="user.isActive" (change)="updateUser($event)">
                    </div>
                </div>

                <div class="row user-books-grid">
                    <div class="col-8">
                        <div class="row head">
                            <div class="col col-head">
                                Book Title
                            </div>
                            <div class="col col-head">
                                Book Author
                            </div>
                            <div class="col col-head">
                                Book Image
                            </div>
                            <div class="col col-head">
                                Status
                            </div>
                        </div>
                        <div class="row body" *ngFor="let item of userBooks">
                            <div class="col">
                                {{item?.title}}
                            </div>
                            <div class="col">
                                {{item?.author}}
                            </div>
                            <div class="col">
                                <img [src]="item.image" *ngIf="item?.image" class="book-image">
                            </div>
                            <div class="col book-status" [ngClass]="item.status">
                                {{item.status}}
                            </div>
                        </div>

                        <div class="row mt-3" *ngIf="!userBooks || !userBooks.length">
                            <div class="col text-center">
                                No books available
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row j-center">
                    <div class="col-6 text-center">
                        <div class="approve-cancel-btn-box">
                            <button class="approve-btn" (click)="goToUseList()">Go To User List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>