<div class="nav-bar-wrapper">
    <div class="row container nav-bar">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="nav-link" routerLink="user-list" routerLinkActive="active">
                        User List
                    </div>
                    <!-- </div>
            <div class="col"> -->
                    <div class="nav-link" routerLink="book-list" routerLinkActive="active">
                        Book List
                    </div>
                    <!-- </div>
            <div class="col"> -->
                    <div class="nav-link" routerLink="add-book" routerLinkActive="active">
                        Add Book
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>