<div class="nav-bar-wrapper">
    <div class="row nav-bar">
        <div class="col">
            <span class="project-title" (click)="redirectToHome()">
                Library Management
            </span>
            <div class="nav-wrapper" *ngIf="showNav">
                <div class="nav-link" routerLink="admin/user-list" routerLinkActive="active">
                    User List
                </div>
                <div class="nav-link" routerLink="admin/book-list" routerLinkActive="active">
                    Book List
                </div>
                <!-- <div class="nav-link" routerLink="admin/add-book" routerLinkActive="active">
                    Add Book
                </div> -->
                <div class="nav-link" routerLink="admin/book-requests" routerLinkActive="active">
                    Requests
                </div>
            </div>
            <span class="logout-link" *ngIf="showLogout" (click)="logout()">
                Logout
            </span>
        </div>
    </div>
</div>